	@{
        ViewBag.Title = "ListaExpediente";
        Layout = "~/Views/Shared/Inicial.cshtml";
}

<div>
    <span>@ViewBag.DescripcionMensaje</span>
    <span>@ViewBag.DescripcionMensajeSistema</span>
</div>