<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<!--DESARROLLO LOCAL-->

		<!--<add key="RutaArchivos" value= "C:\Users\ougas\Documents\GitHub\PortalNet7\MatrixWeb\wwwroot\Content\Contenedor\Archivos\"/>
    <add key="HostArchivos" value= "https://localhost:44350/Content/Contenedor/Archivos/"/>
    
    <add key="RutaImagenesLogoEntidadReporteExcel" value= "C:\Users\ougas\Documents\GitHub\PortalNet7\MatrixWeb\wwwroot\Content\Contenedor\Imagenes\ImagenLogoEntidadReporteExcel.png"/>
    <add key="RutaImagenesLogoEntidadReportePdf" value= "C:\Users\ougas\Documents\GitHub\PortalNet7\MatrixWeb\wwwroot\Content\Contenedor\Imagenes\header_document.png"/>
    <add key="RutaImagenes" value= "C:\Users\ougas\Documents\GitHub\PortalNet7\MatrixWeb\wwwroot\Content\Contenedor\Imagenes\"/>
    <add key="HostImagenes" value= "https://localhost:44350/Content/Contenedor/Imagenes/"/>
    <add key="RutaArchivosPlantillas" value= "C:\Users\ougas\Documents\GitHub\PortalNet7\MatrixWeb\wwwroot\Content\Contenedor\Plantillas\"/>
    <add key="RutaFuentes" value= "C:\Users\ougas\Documents\GitHub\PortalNet7\MatrixWeb\wwwroot\Content\Contenedor\Fuentes\"/>      

    <add key="HostConsultaExpediente" value= "https://localhost:44350/Tramite/Consulta"/>
    <add key="HostConsultaTuTramite" value= "https://localhost:44350/Tramite/Exp"/>
    <add key="HostConsultaDocumentoElectronico" value= "https://localhost:44350/Tramite/De"/>
    <add key="HostConsultaDocumentoAdjuntoElectronico" value= "https://localhost:44350/Tramite/DeA"/>
    <add key="HostConsultaConstanciaPrestacionElectronico" value="https://localhost:44350/ConstanciaPrestacion/De" />

    <add key="HostUpLoadDocumentoFirmadoPide" value= "https://localhost:44350/DocumentoFirmantePide/Upload"/>
    <add key="HostUpLoadDocumentoFirmado" value= "https://localhost:44350/ExpedienteDocumento/Upload"/>
    <add key="HostUpLoadDocumentoAdjuntoFirmado" value= "https://localhost:44350/ExpedienteDocumentoAdjunto/Upload"/>
    <add key="HostUpLoadConstanciaPrestacionFirmado" value= "https://localhost:44350/ConstanciaPrestacion/Upload"/>
    
    <add key="ClientIdRefirma" value= "uyoq9UDmu4SENerGviLleYCw-cA"/>
    <add key="ClientSecretRefirma" value= "wftU3YY5UlllBJvqk9i6"/>

    <add key="HostArchivoPdfReniec" value= "https://localhost:44350/Content/Contenedor/Archivos/"/>
    <add key="HostImagenesFirmaReniec" value= "https://localhost:44350/Content/Contenedor/Imagenes/iFirma1.png"/>
    <add key="HostImagenesVistoReniec" value= "https://localhost:44350/Content/Contenedor/Imagenes/iVisto.png"/>
    <add key="HostImagenesLogoReniec" value= "https://localhost:44350/Content/Contenedor/Imagenes/iLogo1.png"/>
    <add key="HostImagenPrefirma" value= "https://localhost:44350/Content/Contenedor/Imagenes/ImagenPrefirma.png"/>
    <add key="HostImagenesCabeceraHojaRuta" value= "https://localhost:44350/Content/Contenedor/Imagenes/header_document.png"/>
    <add key="HostImagenesLogoHorizontalEntidad" value= "https://localhost:44350/Content/Contenedor/Imagenes/header_document.png"/>
	  <add key="HostImagenesLogoTipoEntidad" value= "https://localhost:44350/Content/Contenedor/Imagenes/LogoTipoEntidad.png"/>
    <add key="HostImagenesFondoAplicacion" value= "https://localhost:44350/Content/Contenedor/Imagenes/FondoAplicacion.png"/>
    <add key="ImagenNombreAplicacion" value= "https://localhost:44350/Content/Contenedor/Imagenes/ImagenNombreAplicacion.png"/>
       
    <add key="ProtocoloRefirmaReniec" value="S" />

   <add key="CuentaEnvioEmail" value= "uaf6@pronis.gob.pe"/>
	  <add key="PasswordEnvioEmail" value= "Pronis2024@@@"/>
	  <add key="ServidorEmail" value= "smtp.office365.com"/>
	  <add key="PuertoServidorEmail" value= "587"/>

    <add key="HostMatrixApi" value= "https://apiPROVIAS.netwaresoft.com/api/"/>
    <add key="IssuerApi" value= "https://localhost:7829/"/>
    <add key="AudienceApi" value= "https://localhost:7829/"/>    
    <add key="ClaveMatrixApi" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiSExVQ0FTIiwiSWRVc3VhcmlvIjoiMiIsIkhvc3RFbnRpZGFkU29saWNpdGFudGUiOiJhcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20iLCJuYmYiOjE2MjY2NjU1NDQsImV4cCI6MTYyODM3MzYwMCwiaXNzIjoiaHR0cHM6Ly9hcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20vIiwiYXVkIjoiaHR0cHM6Ly9hcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20vIn0.dt7dQR-Zpqc2gJlMIRaZJdZ6YYHaGkt9XDO2Z-gL0xs"/>    
    <add key="SecretKayApi" value= "fqweqw1234232sfwqfcdfsdg35s71e242352265gsdg"/>

    <add key="HostAplicacion" value= "https://localhost:44350/"/>

    <add key="SecretKeyWebSiteReCaptchaV2" value= "6Ldt14YbAAAAAJF_tisVqIvwBgAOWhTHjPgUbvbc"/>
    <add key="SecretKeyWebServerReCaptchaV2" value= "6Ldt14YbAAAAAI7C8yCbb2sB3c8E5gs719Tu1UfA"/>

    <add key="SecretKeyWebSiteReCaptchaV3" value= "6LfQsCslAAAAALMXoOaoY9x-L5hcZaXYVT7LKA8o"/>
    <add key="SecretKeyWebServerReCaptchaV3" value= "6LfQsCslAAAAAEiMDAOdaccDNwReEY4StaS_N2Bc"/>

	  <add key="EPPlus:ExcelPackage.LicenseContext" value= "NonCommercial"/>
	  
     <add key="IpInterOperatividad" value="172.27.0.131"/>
     <add key="RucInterOperatividad" value="20503503639 "/>

	  <add key="Dominio" value="CMPNT"/>
	  <add key="Path_Ldap" value="LDAP://172.20.5.4:389/DC=pronis,DC=dom"/>
    <add key="RutaTerminosCasilla" value="https://localhost:44350/Content/Contenedor/Plantillas/Terminos.pdf"/>-->


		<!--TEST -->

		<!--<add key="RutaArchivos" value= "E:\Publicados\ControlQA\wwwroot\Content\Contenedor\Archivos\"/>
		<add key="HostArchivos" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Archivos/"/>

		<add key="RutaImagenesLogoEntidadReporteExcel" value= "E:\Publicados\ControlQA\wwwroot\Content\Contenedor\Imagenes\ImagenLogoEntidadReporteExcel.png"/>
		<add key="RutaImagenesLogoEntidadReportePdf" value= "E:\Publicados\ControlQA\wwwroot\Content\Contenedor\Imagenes\header_document.png"/>
		<add key="RutaImagenes" value= "E:\Publicados\ControlQA\wwwroot\Content\Contenedor\Imagenes\"/>
		<add key="HostImagenes" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/"/>
		<add key="RutaArchivosPlantillas" value= "E:\Publicados\ControlQA\wwwroot\Content\Contenedor\Plantillas\"/>
		<add key="RutaFuentes" value= "E:\Publicados\ControlQA\wwwroot\Content\Contenedor\Fuentes\"/>

		<add key="HostConsultaExpediente" value= "https://controlqa.cmp.org.pe/Tramite/Consulta"/>
		<add key="HostConsultaTuTramite" value= "https://controlqa.cmp.org.pe/Tramite/Exp"/>
		<add key="HostConsultaDocumentoElectronico" value= "https://controlqa.cmp.org.pe/Tramite/De"/>
		<add key="HostConsultaDocumentoAdjuntoElectronico" value= "https://controlqa.cmp.org.pe/Tramite/DeA"/>
		<add key="HostConsultaConstanciaPrestacionElectronico" value="https://controlqa.cmp.org.pe/ConstanciaPrestacion/De" />

		<add key="HostUpLoadDocumentoFirmadoPide" value= "https://controlqa.cmp.org.pe/DocumentoFirmantePide/Upload"/>
		<add key="HostUpLoadDocumentoFirmado" value= "https://controlqa.cmp.org.pe/ExpedienteDocumento/Upload"/>
		<add key="HostUpLoadDocumentoAdjuntoFirmado" value= "https://controlqa.cmp.org.pe/ExpedienteDocumentoAdjunto/Upload"/>
		<add key="HostUpLoadConstanciaPrestacionFirmado" value= "https://controlqa.cmp.org.pe/ConstanciaPrestacion/Upload"/>

		<add key="ClientIdRefirma" value= "uyoq9UDmu4SENerGviLleYCw-cA"/>
		<add key="ClientSecretRefirma" value= "wftU3YY5UlllBJvqk9i6"/>

		<add key="HostArchivoPdfReniec" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Archivos/"/>
		<add key="HostImagenesFirmaReniec" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/iFirma1.png"/>
		<add key="HostImagenesVistoReniec" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/iVisto.png"/>
		<add key="HostImagenesLogoReniec" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/iLogo1.png"/>
		<add key="HostImagenPrefirma" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/ImagenPrefirma.png"/>
		<add key="HostImagenesCabeceraHojaRuta" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/header_document.png"/>
		<add key="HostImagenesLogoHorizontalEntidad" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/header_document.png"/>
		<add key="HostImagenesLogoTipoEntidad" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/LogoTipoEntidad.png"/>
		<add key="HostImagenesFondoAplicacion" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/FondoAplicacion.png"/>
		<add key="ImagenNombreAplicacion" value= "https://controlqa.cmp.org.pe/Content/Contenedor/Imagenes/ImagenNombreAplicacion.png"/>

		<add key="ProtocoloRefirmaReniec" value="S" />

		<add key="CuentaEnvioEmail" value= "osmar.ugas@cmp.org.pe"/>
		<add key="PasswordEnvioEmail" value= "$Cmp2024$"/>
		<add key="ServidorEmail" value= "smtp.office365.com"/>
		<add key="PuertoServidorEmail" value= "587"/>

		<add key="HostMatrixApi" value= "https://apiPROVIAS.netwaresoft.com/api/"/>
		<add key="IssuerApi" value= "https://localhost:7829/"/>
		<add key="AudienceApi" value= "https://localhost:7829/"/>
		<add key="ClaveMatrixApi" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiSExVQ0FTIiwiSWRVc3VhcmlvIjoiMiIsIkhvc3RFbnRpZGFkU29saWNpdGFudGUiOiJhcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20iLCJuYmYiOjE2MjY2NjU1NDQsImV4cCI6MTYyODM3MzYwMCwiaXNzIjoiaHR0cHM6Ly9hcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20vIiwiYXVkIjoiaHR0cHM6Ly9hcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20vIn0.dt7dQR-Zpqc2gJlMIRaZJdZ6YYHaGkt9XDO2Z-gL0xs"/>
		<add key="SecretKayApi" value= "fqweqw1234232sfwqfcdfsdg35s71e242352265gsdg"/>

		<add key="HostAplicacion" value= "https://controlqa.cmp.org.pe/"/>

		<add key="SecretKeyWebSiteReCaptchaV2" value= "6Ldt14YbAAAAAJF_tisVqIvwBgAOWhTHjPgUbvbc"/>
		<add key="SecretKeyWebServerReCaptchaV2" value= "6Ldt14YbAAAAAI7C8yCbb2sB3c8E5gs719Tu1UfA"/>

		<add key="SecretKeyWebSiteReCaptchaV3" value= "6LfQsCslAAAAALMXoOaoY9x-L5hcZaXYVT7LKA8o"/>
		<add key="SecretKeyWebServerReCaptchaV3" value= "6LfQsCslAAAAAEiMDAOdaccDNwReEY4StaS_N2Bc"/>

		<add key="EPPlus:ExcelPackage.LicenseContext" value= "NonCommercial"/>

		<add key="IpInterOperatividad" value="172.27.0.131"/>
		<add key="RucInterOperatividad" value="20503503639 "/>

		<add key="Dominio" value="CMPNT"/>
		<add key="Path_Ldap" value="LDAP://172.20.5.4:389/DC=pronis,DC=dom"/>-->

		<!--PRODUCCION-->

		<add key="RutaArchivos" value= "E:\Publicados\Control\wwwroot\Content\Contenedor\Archivos\"/>
		<add key="HostArchivos" value= "https://control.cmp.org.pe/Content/Contenedor/Archivos/"/>

		<add key="RutaImagenesLogoEntidadReporteExcel" value= "E:\Publicados\Control\wwwroot\Content\Contenedor\Imagenes\ImagenLogoEntidadReporteExcel.png"/>
		<add key="RutaImagenesLogoEntidadReportePdf" value= "E:\Publicados\Control\wwwroot\Content\Contenedor\Imagenes\header_document.png"/>
		<add key="RutaImagenes" value= "E:\Publicados\Control\wwwroot\Content\Contenedor\Imagenes\"/>
		<add key="HostImagenes" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/"/>
		<add key="RutaArchivosPlantillas" value= "E:\Publicados\Control\wwwroot\Content\Contenedor\Plantillas\"/>
		<add key="RutaFuentes" value= "E:\Publicados\Control\wwwroot\Content\Contenedor\Fuentes\"/>

		<add key="HostConsultaExpediente" value= "https://control.cmp.org.pe/Tramite/Consulta"/>
		<add key="HostConsultaTuTramite" value= "https://control.cmp.org.pe/Tramite/Exp"/>
		<add key="HostConsultaDocumentoElectronico" value= "https://control.cmp.org.pe/Tramite/De"/>
		<add key="HostConsultaDocumentoAdjuntoElectronico" value= "https://control.cmp.org.pe/Tramite/DeA"/>
		<add key="HostConsultaConstanciaPrestacionElectronico" value="https://control.cmp.org.pe/ConstanciaPrestacion/De" />

		<add key="HostUpLoadDocumentoFirmadoPide" value= "https://control.cmp.org.pe/DocumentoFirmantePide/Upload"/>
		<add key="HostUpLoadDocumentoFirmado" value= "https://control.cmp.org.pe/ExpedienteDocumento/Upload"/>
		<add key="HostUpLoadDocumentoAdjuntoFirmado" value= "https://control.cmp.org.pe/ExpedienteDocumentoAdjunto/Upload"/>
		<add key="HostUpLoadConstanciaPrestacionFirmado" value= "https://control.cmp.org.pe/ConstanciaPrestacion/Upload"/>

		<add key="ClientIdRefirma" value= "uyoq9UDmu4SENerGviLleYCw-cA"/>
		<add key="ClientSecretRefirma" value= "wftU3YY5UlllBJvqk9i6"/>

		<add key="HostArchivoPdfReniec" value= "https://control.cmp.org.pe/Content/Contenedor/Archivos/"/>
		<add key="HostImagenesFirmaReniec" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/iFirma1.png"/>
		<add key="HostImagenesVistoReniec" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/iVisto.png"/>
		<add key="HostImagenesLogoReniec" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/iLogo1.png"/>
		<add key="HostImagenPrefirma" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/ImagenPrefirma.png"/>
		<add key="HostImagenesCabeceraHojaRuta" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/header_document.png"/>
		<add key="HostImagenesLogoHorizontalEntidad" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/header_document.png"/>
		<add key="HostImagenesLogoTipoEntidad" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/LogoTipoEntidad.png"/>
		<add key="HostImagenesFondoAplicacion" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/FondoAplicacion.png"/>
		<add key="ImagenNombreAplicacion" value= "https://control.cmp.org.pe/Content/Contenedor/Imagenes/ImagenNombreAplicacion.png"/>

		<add key="ProtocoloRefirmaReniec" value="S" />

		<add key="CuentaEnvioEmail" value= "desarrollo@cmp.org.pe"/>
		<add key="PasswordEnvioEmail" value= "2024$Cmp$"/>
		<add key="ServidorEmail" value= "smtp.office365.com"/>
		<add key="PuertoServidorEmail" value= "587"/>

		<add key="HostMatrixApi" value= "https://apiPROVIAS.netwaresoft.com/api/"/>
		<add key="IssuerApi" value= "https://localhost:7829/"/>
		<add key="AudienceApi" value= "https://localhost:7829/"/>
		<add key="ClaveMatrixApi" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiSExVQ0FTIiwiSWRVc3VhcmlvIjoiMiIsIkhvc3RFbnRpZGFkU29saWNpdGFudGUiOiJhcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20iLCJuYmYiOjE2MjY2NjU1NDQsImV4cCI6MTYyODM3MzYwMCwiaXNzIjoiaHR0cHM6Ly9hcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20vIiwiYXVkIjoiaHR0cHM6Ly9hcGlwY3Jpcy5uZXR3YXJlc29mdC5jb20vIn0.dt7dQR-Zpqc2gJlMIRaZJdZ6YYHaGkt9XDO2Z-gL0xs"/>
		<add key="SecretKayApi" value= "fqweqw1234232sfwqfcdfsdg35s71e242352265gsdg"/>

		<add key="HostAplicacion" value= "https://control.cmp.org.pe/"/>

		<add key="SecretKeyWebSiteReCaptchaV2" value= "6Ldt14YbAAAAAJF_tisVqIvwBgAOWhTHjPgUbvbc"/>
		<add key="SecretKeyWebServerReCaptchaV2" value= "6Ldt14YbAAAAAI7C8yCbb2sB3c8E5gs719Tu1UfA"/>

		<add key="SecretKeyWebSiteReCaptchaV3" value= "6LfQsCslAAAAALMXoOaoY9x-L5hcZaXYVT7LKA8o"/>
		<add key="SecretKeyWebServerReCaptchaV3" value= "6LfQsCslAAAAAEiMDAOdaccDNwReEY4StaS_N2Bc"/>

		<add key="EPPlus:ExcelPackage.LicenseContext" value= "NonCommercial"/>

		<add key="IpInterOperatividad" value="172.27.0.131"/>
		<add key="RucInterOperatividad" value="20503503639 "/>

		<add key="Dominio" value="CMPNT"/>
		<add key="Path_Ldap" value="LDAP://172.20.5.4:389/DC=pronis,DC=dom"/>

	</appSettings>

</configuration>
