<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="429496729" />
      </requestFiltering>
    </security>
    <!--<httpProtocol>
      <customHeaders>
        <add name = "Access Control Allow Origin" value = "*"/>
        <add name = "X Frame Options" value = "ALLOW FROM https://example.com/"/>
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
</configuration>